/* HEADER STYLE */
html {
    scroll-behavior: smooth;
}
* {
    padding: 0px;
    outline-color: rgb(216, 216, 216)!important;
}
body {
    color: #333333;
    font-family: Nunito Sans, Roboto, sans-serif;
    font-weight: 100;
    
}
#text {
    opacity: 0.8;;
}
header {
    min-height: 700px;  
}
.headerInto {
    background-image: url("../img/headerBg.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: right;
    background-position-y: 2rem;
    background-size: 28%;
}
.nav {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(8, 71, 206, 0.07);
    border-top-style: none;
    color:  #0847CE;
}
.navbar, a.navbar-brand {
    box-shadow: none;
    color:  #0847CE;
    font-weight: bold;
    font-size: 1.56rem;
}
.navbar p{
    font-size: 1.4rem;
    font-weight: 500;
}
.headerH1 {
font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: bold;
font-size: calc(24px + 16 * ((100vw - 320px) / 680));
line-height: calc(24px + 14 * ((100vw - 320px) / 680));
}
.headerH5 {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
    font-weight: 600;
    color:  #0847CE;
}

.headerH6 {
    font-size: calc(16px + 2 * ((100vw - 320px) / 680));
    line-height: calc(24px + 6 * ((100vw - 320px) / 680));
    font-weight: 100;
    color:  #0847CE;
    opacity: 0.6;
}
#flipper {
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: 3;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
    animation-duration: 10s;
}
h5 {
    font-weight: 900!important;
}
.searchWrapper, input.form-control {
    min-height:3.5rem;
    border-right: transparent;
}
input#searchBar.form-control::focus, input#searchBar.form-control::active  {
    outline: 0 none !important;
    border-color:none !important;
  box-shadow: none !important;
  outline: 0 none !important;
}

input#searchBar {
    background: rgba(8, 71, 206, 0.07);
    outline-style: none!important;
    z-index: 0;
}
input#searchBar2 {
    background: rgba(8, 71, 206, 0.07);
    outline-style: none;
    z-index: 0;
}

input#dEmail {
   border-right-color: #0847CE;
    outline-style: none;
    z-index: 0;
}
.searcher {
    -webkit-box-shadow: 2px 1px 17px 0px rgba(8, 71, 206, 0.66);
    -moz-box-shadow:    2px 1px 17px 0px rgba(8, 71, 206, 0.66);
    box-shadow:         2px 1px 17px 0px rgba(8, 71, 206, 0.66);
}
.input-group-append {
    width: 8rem;
    text-align: center!important;
    margin-left: -5rem;
    z-index: 1;
}

.case h5 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: calc(24px + 20 * ((100vw - 320px) / 680));
    line-height: calc(24px + 15 * ((100vw - 320px) / 680));
}
#services {
    background: rgba(8, 71, 206, 0.07);
}
.yourDash, .activeDash {
   min-width: 17em;
   min-height: 22em;
    border: 1px solid #0847CE;

}
.yourDash {
    background-color: white;
    color: #0847CE;
}
.activeDash {
    background: #0847CE;
    color:white;
    -webkit-box-shadow: 2px 1px 17px 0px rgba(8, 71, 206, 0.66);
-moz-box-shadow:    2px 1px 17px 0px rgba(8, 71, 206, 0.66);
box-shadow:         2px 1px 17px 0px rgba(8, 71, 206, 0.66);
    
}
#last {
   background: rgba(8, 71, 206, 0.07);; 
}
.animated.slower {
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
}
#letter {
    background-color: #0847CE;
    min-height: 15rem;
    }
#letter h6, #letter p {
    color: white;
}
footer {
    background-color: black;
}

@media screen and (max-width: 1216px) {
    .yourDash, .activeDash {
   min-width: 13em;
   min-height: 22em;

}

}


@media screen and (max-width: 768px) {
    .input-group-append {
        margin-left: -3rem;
    }
    input.form-control {
        min-height: auto;
    }
    .headerInto{
        background-image: none;
    }
    header {
    min-height: 1100px;  
}

.searchWrapper {
    width: 100%!important;
}

#dEmail {
    min-height: 3.5rem;
}

section#letter.rounded-lg {
    border-top-right-radius: 5rem!important;
    border-bottom-left-radius: 5rem!important;
}

}